[ajdecon-repo.el6.x86_64]
name = ajdecon-repo.el6.x86_64
baseurl = https://ajdecon-repo.s3.amazonaws.com/el6/x86_64/
gpgcheck=0
enabled=1
s3_enabled=1
key_id={{s3_key_id}}
secret_key={{s3_secret_key}}

[ajdecon-repo.el6.noarch]
name = ajdecon-repo.el6.noarch
baseurl = https://ajdecon-repo.s3.amazonaws.com/el6/noarch/
gpgcheck=0
enabled=1
s3_enabled=1
key_id={{s3_key_id}}
secret_key={{s3_secret_key}}

